$col1: #c0eea9;
$pad: 20px;
header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: $pad;
    background-color: $col1;
    height: 120px;
    -webkit-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
.header__brand-logo img {
        width: auto;
        padding-top: $pad;
        height: 7.5em;
    }
}